*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px  38px;
    background-color: rgba(0,0,0,0.9);
    position: sticky;
    top: 0;
    z-index: 1;

}
.logo{
    font: 18px;
    letter-spacing: 2px;
    color:rgb(236, 13, 32);
}
.nav-menu li{
    display: inline-block;
    padding: 16px 20px;
}

.nav-menu li a{
    color: white;
    transition: 0.6s;
}
.nav-menu li a:hover{
    color: crimson;
}
.main-head{
    background-image: url(images/Hotel.jpg);
    height: 140vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
}

.banner-text{
    top: 40%;
    left: 20%;
    position: absolute;
    color: snow;
    line-height: 1.5;
    letter-spacing: 2px;
}

.banner-text h1{
    font-size: 66px;
}

.banner-text h2{
    font-size: 48px;
}
 
.btn{
    top: 76%;
    left: 20%;
    position: absolute;
    line-height: 1.8;
}

.btn button{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: transparent;
    color: snow;
    font-size: 20px;
    border: ipx solid crimson;
    transition: 0.5s;
}

.btn button:hover{
    background: crimson;
    transform: scale(1.1);
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 100px;

}

.container h1{
    color: darkgrey;
}

.box{
    margin: 20px;
    height: 500px;
    text-align: justify;
    padding: 40px;
    color: snow;
    line-height: 1.6;
    width: 340px;
    box-shadow: 0 5px 10px black;
}

.box1{
    background-image: url(images/receptionist.jpeg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
}

.btn1 button{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background: transparent;
    color: snow;
    font-size: 18px;
    border: 1px solid coral;
    transition: 0.5s;
    margin-top: 20px;
}
.btn1 button:hover{
    background: coral;
    transform: scale(1.1);
}

.box2{
    background-image: url(images/Room.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
}

.btn2 button{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background: transparent;
    color: snow;
    font-size: 18px;
    border: 1px solid deepskyblue;
    transition: 0.5s;
    margin-top: 20px;
}
.btn2 button:hover{
    background: deepskyblue;
    transform: scale(1.1);
}

.box3{
    background-image: url(images/Buffet.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
}

.btn3 button{
    width: 200px;
    height: 30px;
    border-radius: 25px;
    background: transparent;
    color: snow;
    font-size: 18px;
    border: 1px solid crimson;
    transition: 0.5s;
    margin-top: 20px;
}
.btn3 button:hover{
    background: crimson;
    transform: scale(1.1);
}

.container-2{
    background-image: url(images/Happy-Destination.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: darken;
    height: 80vh;
}

.content h1{
    text-align: center;
    font-size: 68px;
    color: snow;
    padding: 100px;
}

.content p{
    font-size: 25px;
    padding: 20px 100px;
    letter-spacing: 2px;
    text-align:center;
    color: seashell;
}

.contact-box{
    border: none;
    border-radius: 25px;
    width: 500px;
    height: 400px;
    position: relative;
    left: 25%;
    margin: 100px;
    background-image:linear-gradient(to left,rgb(55, 55, 55), rgb(17, 16, 16));
}

.contact-box h2{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 0;
}

.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px;
}

.contact-box button{
    width: 150px;
    height: 30px;
    border-radius: 25px;
    background: transparent;
    color: snow;
    font-size: 18px;
    border: 1px solid white;
    transition: 0.5s;
    margin: 20px;
    
}

.contact-box button:hover{
    background: rgb(251, 33, 33);
    transform: scale(1,1);
}

.footer{
    display: flex;
    justify-content: space-around;
    border: 2px solid;
    width: 100%;
    height: 80vh;
    background-image: url(images/footer.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
}

.div_1{
    color: aliceblue;
    font-size: 18px;
    margin-top: 150px;
    line-height: 2;
}

.div_1 h3{
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.div_l li a{
    color: snow;
    transition: 0.5s;
}

.div_l li a:hover{
    color: coral;
}

.div4 img{
    width: 40px;
    display: block;
    padding: 10px;
    cursor: pointer;
}

.span{
    color: rgb(255, 31, 76);
}
